body {
	text-align: center;
	background-color: black;
	margin-top: 150px;
}

#ms-pac-man {
	height: 50px;
	width: 50px;
	background-color: yellow;
	border-radius: 50%;
}

.wall {
	height: 50px;
	width: 50px;
	background-color: blue;
}

.white-circle {
	height: 25px;
	width: 25px;
	border: 10px black solid;
	background-color: white;
	border-radius: 50%;
	margin: 0px 0px 0px 0px;
}

/*.white-circle {  //smaller circles (where I want them but grid is off)
	height: 12px;
	width: 12px;
	border: 5px black solid;
	background-color: white;
	border-radius: 50%;
	padding: 0px 0px 0px 0px;
	margin: 0px 13px 11px 10px;
}*/

.empty-square {
	height: 50px;
	width: 50px;
	background-color: black;
}

/*div{
	display: inline-block;
	margin: -1px;
	line-height: 15px;
}*/

div{
	display: inline-block;
	margin: -2.5px;
	line-height: 15px;
}

#score {
	color: black;
	font-size: 60px;
	background-color: white;
	text-align: center;
}

/*.row {
	background-color: grey;
	width: 900px;
}

.column {
	background-color: grey;
	width: 25px;
	height: 25px;
}*/

/*.x {
	background-color: black;
}

.o {
	background-color: blue;
}

.a {
	background-color: black;
}

.b {
	background-color: red;
}*/

/*#grid {
	margin: 20px;
}

#image1 {
	height: 18px;
	width: 18px;
}*/