@font-face {
	font-family: "PacFont";
	src: url(fonts/PacFont.ttf);
}


#body-1 {
	text-align: center;
	background-color: black;
	margin-top: 150px;
}

#board {
	z-index: 10;
}

#board-end-game {
	position: absolute;
	z-index: 1;
	opacity: 0;
}

#game-title {
	font-family: "PacFont";
	color: yellow;
}

.ms-pac-man {
	height: 50px;
	width: 50px;
	/*background-color: yellow;
	border-radius: 50%;*/
}

.ms-pac-man-right {
	background: url("images/ms-pac-man-right.gif");
	background-size: contain;
}

.ms-pac-man-left {
	background: url("images/ms-pac-man-left.gif");
	background-size: contain;
}

.ms-pac-man-left-down {
	background: url("images/ms-pac-man-leftDown.gif");
	background-size: contain;
}

.ms-pac-man-left-up {
	background: url("images/ms-pac-man-leftUp.gif");
	background-size: contain;
}

.ms-pac-man-right-down {
	background: url("images/ms-pac-man-rightDown.gif");
	background-size: contain;
}

.ms-pac-man-right-up {
	background: url("images/ms-pac-man-rightUp.gif");
	background-size: contain;
}

.ms-pac-man-up {
	background: url("images/ms-pac-man-up.png");
	background-size: contain;
}

.ms-pac-man-down {
	background: url("images/ms-pac-man-down.png");
	background-size: contain;
}

.ghosts {
	height: 50px;
	width: 50px;
}
.g1 {
	background: url("images/ghost-pink.png");
	background-size: contain;
}

.g2 {
	background: url("images/ghost-red.png");
	background-size: contain;
}

.g3 {
	background: url("images/ghost-orange.png");
	background-size: contain;
}

.g4 {
	background: url("images/ghost-turquoise.png");
	background-size: contain;
}

.g5blue {
	background: url("images/blueghost1.png");
	background-size: contain;
}

.g6eyes {
	background: url("images/ghost-eyes.png");
	background-size: contain;
}

/*#ms-pac-man {
	height: 50px;
	width: 50px;
	background-color:
	border-radius:
}*/

.wall {
	height: 50px;
	width: 50px;
	background-color: blue;
}

/*.wall-corner {
	background-color: white !important;
	border-radius: 50%;
}*/

.white-circle {
	height: 25px;
	width: 25px;
	border: 10px black solid;
	background-color: white;
	border-radius: 50%;
	margin: 0px 0px 0px 0px;
}

/*.white-circle {  //smaller circles (where I want them but grid is off)
	height: 12px;
	width: 12px;
	border: 5px black solid;
	background-color: white;
	border-radius: 50%;
	padding: 0px 0px 0px 0px;
	margin: 0px 13px 11px 10px;
}*/

.empty-square {
	height: 50px;
	width: 50px;
	background-color: black;
}

/*div{
	display: inline-block;
	margin: -1px;
	line-height: 15px;
}*/

div{
	display: inline-block;
	margin: -2.5px;
	line-height: 15px;
}

#score {
	color: black;
	font-size: 60px;
	background-color: white;
	text-align: center;
}

#score-board {
	position: absolute;
	z-index: 0;
	opacity: 0;
	margin: 0px 0px 0px 0px;
}

#score-board-appear{
	position: relative;
	z-index: 10;
	opacity: 1;
	margin: 0px 0px 0px 0px;
}


#body-2 {
	background-color: black;
	text-align: center;
	margin: 0 auto;	
}

h1 {
	color: white;
	font-size: 100px;
	margin: 45px 0px 0px 0px;
}

#play-again {
	color: white;
	font-size: 50px;
	margin: 0px 0px 0px 0px;
}

table {
	background-color: yellow;
	height: 700px;
	width: 900px;
	margin-top: 50px;
}

th {
	background-color: pink;
}

tr {
	background-color: green;
}

td {
	background-color: grey;
	width: 100px;
}

/*.row {
	background-color: grey;
	width: 900px;
}

.column {
	background-color: grey;
	width: 25px;
	height: 25px;
}*/

/*.x {
	background-color: black;
}

.o {
	background-color: blue;
}

.a {
	background-color: black;
}

.b {
	background-color: red;
}*/

/*#grid {
	margin: 20px;
}

#image1 {
	height: 18px;
	width: 18px;
}*/